adapter driver ftdi 
adapter speed 30000
transport select jtag
ftdi vid_pid 0x0403 0x6014
ftdi tdo_sample_edge falling
# Pins
# pin name      | func. |
# --------------|-------|
# ADBUS0        | TCK   |
# ADBUS1        | TDI   |
# ADBUS2        | TDO   |
# ADBUS3        | TMS   |
# ACBUS0        | nTRST |
# ACBUS1        | nSRST |
#---------------|-------|
ftdi layout_init 0x0308 0x000b

# When data == oe -> pins are switched from output to input to give
# the tri state (L, H, Hi-Z) effect 
#ftdi layout_signal nTRST -data 0x0100 -oe 0x0100
#ftdi layout_signal nSRST -data 0x0200 -oe 0x0200
source [find target/at91sam3u4e.cfg]
